In [61]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(color_codes=True)
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

# Let import the dataset to use

hdma = pd.read_csv('C:/Users/success/HDMA Project/HDMA.csv')
hdma.head()

C:\Users\success\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (23,24,25,28,29,30,38,39,40) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,tract_to_msamd_income,rate_spread,population,minority_population,number_of_owner_occupied_units,number_of_1_to_4_family_units,loan_amount_000s,hud_median_family_income,applicant_income_000s,state_name,...,applicant_sex_name,applicant_race_name_5,applicant_race_name_4,applicant_race_name_3,applicant_race_name_2,applicant_race_name_1,applicant_ethnicity_name,agency_name,agency_abbr,action_taken_name
0,121.690002,NaN,8381.0,23.790001,2175.0,2660.0,227,73300.0,116.0,Washington,...,Female,NaN,NaN,NaN,NaN,"Information not provided by applicant in mail,...",Not Hispanic or Latino,Consumer Financial Protection Bureau,CFPB,Loan originated
1,83.370003,NaN,4915.0,23.990000,1268.0,1777.0,240,57900.0,42.0,Washington,...,Male,NaN,NaN,NaN,NaN,White,Hispanic or Latino,Department of Housing and Urban Development,HUD,Loan originated
2,91.129997,NaN,5075.0,11.820000,1136.0,1838.0,241,73300.0,117.0,Washington,...,Male,NaN,NaN,NaN,NaN,White,Not Hispanic or Latino,Department of Housing and Urban Development,HUD,Loan originated
3,146.169998,NaN,5032.0,8.590000,1525.0,1820.0,351,73300.0,315.0,Washington,...,Male,NaN,NaN,NaN,NaN,"Information not provided by applicant in mail,...","Information not provided by applicant in mail,...",National Credit Union Administration,NCUA,Loan originated
4,162.470001,NaN,5183.0,10.500000,1705.0,2104.0,417,78100.0,114.0,Washington,...,Female,NaN,NaN,NaN,NaN,White,Not Hispanic or Latino,Federal Deposit Insurance Corporation,FDIC,Loan originated

In [38]:
hdma.dtypes

tract_to_msamd_income             float64
rate_spread                       float64
population                        float64
minority_population               float64
number_of_owner_occupied_units    float64
number_of_1_to_4_family_units     float64
loan_amount_000s                    int64
hud_median_family_income          float64
applicant_income_000s             float64
state_name                         object
state_abbr                         object
sequence_number                     int64
respondent_id                      object
purchaser_type_name                object
property_type_name                 object
preapproval_name                   object
owner_occupancy_name               object
msamd_name                         object
loan_type_name                     object
loan_purpose_name                  object
lien_status_name                   object
hoepa_status_name                  object
edit_status_name                   object
denial_reason_name_3               object
denial_reason_name_2               object
denial_reason_name_1               object
county_name                        object
co_applicant_sex_name              object
co_applicant_race_name_5           object
co_applicant_race_name_4           object
co_applicant_race_name_3           object
co_applicant_race_name_2           object
co_applicant_race_name_1           object
co_applicant_ethnicity_name        object
census_tract_number               float64
as_of_year                          int64
application_date_indicator          int64
applicant_sex_name                 object
applicant_race_name_5              object
applicant_race_name_4              object
applicant_race_name_3              object
applicant_race_name_2              object
applicant_race_name_1              object
applicant_ethnicity_name           object
agency_name                        object
agency_abbr                        object
action_taken_name                  object
dtype: object

In [57]:
hdma.shape

(466566, 24)

# Clean the Dataset

In [39]:
# Data Info
hdma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466566 entries, 0 to 466565
Data columns (total 47 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   tract_to_msamd_income           465951 non-null  float64
 1   rate_spread                     8638 non-null    float64
 2   population                      465956 non-null  float64
 3   minority_population             465956 non-null  float64
 4   number_of_owner_occupied_units  465944 non-null  float64
 5   number_of_1_to_4_family_units   465955 non-null  float64
 6   loan_amount_000s                466566 non-null  int64
 7   hud_median_family_income        465960 non-null  float64
 8   applicant_income_000s           404533 non-null  float64
 9   state_name                      466566 non-null  object
 10  state_abbr                      466566 non-null  object
 11  sequence_number                 466566 non-null  int64
 12  respondent_id                   466566 non-null  object
 13  purchaser_type_name             466566 non-null  object
 14  property_type_name              466566 non-null  object
 15  preapproval_name                466566 non-null  object
 16  owner_occupancy_name            466566 non-null  object
 17  msamd_name                      428292 non-null  object
 18  loan_type_name                  466566 non-null  object
 19  loan_purpose_name               466566 non-null  object
 20  lien_status_name                466566 non-null  object
 21  hoepa_status_name               466566 non-null  object
 22  edit_status_name                74505 non-null   object
 23  denial_reason_name_3            1246 non-null    object
 24  denial_reason_name_2            6746 non-null    object
 25  denial_reason_name_1            34499 non-null   object
 26  county_name                     466199 non-null  object
 27  co_applicant_sex_name           466566 non-null  object
 28  co_applicant_race_name_5        14 non-null      object
 29  co_applicant_race_name_4        21 non-null      object
 30  co_applicant_race_name_3        105 non-null     object
 31  co_applicant_race_name_2        1862 non-null    object
 32  co_applicant_race_name_1        466566 non-null  object
 33  co_applicant_ethnicity_name     466566 non-null  object
 34  census_tract_number             465960 non-null  float64
 35  as_of_year                      466566 non-null  int64
 36  application_date_indicator      466566 non-null  int64
 37  applicant_sex_name              466566 non-null  object
 38  applicant_race_name_5           46 non-null      object
 39  applicant_race_name_4           68 non-null      object
 40  applicant_race_name_3           297 non-null     object
 41  applicant_race_name_2           4478 non-null    object
 42  applicant_race_name_1           466566 non-null  object
 43  applicant_ethnicity_name        466566 non-null  object
 44  agency_name                     466566 non-null  object
 45  agency_abbr                     466566 non-null  object
 46  action_taken_name               466566 non-null  object
dtypes: float64(9), int64(4), object(34)
memory usage: 167.3+ MB

In [30]:
# Numerical properties
hdma.describe()

,Minority Population,Loan Amount,Famity Income(Hud Median),sequence_number,as_of_year,application_date_indicator
count,465956.000000,466566.000000,465960.000000,4.665660e+05,466566.0,466566.000000
mean,24.765475,298.260936,76797.148468,1.126340e+05,2016.0,0.207285
std,15.214602,760.741532,12959.051933,2.020830e+05,0.0,0.609593
min,2.040000,1.000000,48700.000000,1.000000e+00,2016.0,0.000000
25%,13.220000,172.000000,65800.000000,5.121000e+03,2016.0,0.000000
50%,20.750000,248.000000,73300.000000,2.647200e+04,2016.0,0.000000
75%,32.220001,350.000000,90300.000000,1.095258e+05,2016.0,0.000000
max,94.790001,99999.000000,90300.000000,1.241780e+06,2016.0,2.000000

In [35]:
hdma['action_taken_name'].unique()

array(['Loan originated', 'Application approved but not accepted',
       'Application denied by financial institution',
       'Application withdrawn by applicant',
       'File closed for incompleteness',
       'Loan purchased by the institution',
       'Preapproval request denied by financial institution',
       'Preapproval request approved but not accepted'], dtype=object)

In [41]:
# Columns with Null values
hdma.isnull()

,tract_to_msamd_income,rate_spread,population,minority_population,number_of_owner_occupied_units,number_of_1_to_4_family_units,loan_amount_000s,hud_median_family_income,applicant_income_000s,state_name,...,applicant_sex_name,applicant_race_name_5,applicant_race_name_4,applicant_race_name_3,applicant_race_name_2,applicant_race_name_1,applicant_ethnicity_name,agency_name,agency_abbr,action_taken_name
0,False,True,False,False,False,False,False,False,False,False,...,False,True,True,True,True,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,True,True,True,True,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,True,True,True,True,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,...,False,True,True,True,True,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,False,...,False,True,True,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466561,True,True,True,True,True,True,False,True,False,False,...,False,True,True,True,True,False,False,False,False,False
466562,True,True,True,True,True,True,False,True,False,False,...,False,True,True,True,True,False,False,False,False,False
466563,True,True,True,True,True,True,False,True,False,False,...,False,True,True,True,True,False,False,False,False,False
466564,False,True,False,False,False,False,False,False,False,False,...,False,True,True,True,True,False,False,False,False,False
466565,False,True,False,False,False,False,False,False,False,False,...,False,True,True,True,True,False,False,False,False,False

In [41]:
#Add the  Columns with Null values
hdma.isnull().sum()

tract_to_msamd_income                615
rate_spread                       457928
population                           610
minority_population                  610
number_of_owner_occupied_units       622
number_of_1_to_4_family_units        611
loan_amount_000s                       0
hud_median_family_income             606
applicant_income_000s              62033
state_name                             0
state_abbr                             0
sequence_number                        0
respondent_id                          0
purchaser_type_name                    0
property_type_name                     0
preapproval_name                       0
owner_occupancy_name                   0
msamd_name                         38274
loan_type_name                         0
loan_purpose_name                      0
lien_status_name                       0
hoepa_status_name                      0
edit_status_name                  392061
denial_reason_name_3              465320
denial_reason_name_2              459820
denial_reason_name_1              432067
county_name                          367
co_applicant_sex_name                  0
co_applicant_race_name_5          466552
co_applicant_race_name_4          466545
co_applicant_race_name_3          466461
co_applicant_race_name_2          464704
co_applicant_race_name_1               0
co_applicant_ethnicity_name            0
census_tract_number                  606
as_of_year                             0
application_date_indicator             0
applicant_sex_name                     0
applicant_race_name_5             466520
applicant_race_name_4             466498
applicant_race_name_3             466269
applicant_race_name_2             462088
applicant_race_name_1                  0
applicant_ethnicity_name               0
agency_name                            0
agency_abbr                            0
action_taken_name                      0
dtype: int64

In [42]:
# Dro irrelevant data
hdma = hdma.drop(["denial_reason_name_3", "denial_reason_name_2", "co_applicant_race_name_5", 
        "co_applicant_race_name_4", "co_applicant_race_name_3", "co_applicant_race_name_2","applicant_race_name_5",
        "applicant_race_name_4", "applicant_race_name_3", "applicant_race_name_2", "rate_spread"
        ,"edit_status_name", "denial_reason_name_1"], axis = 1 )
hdma.isnull().sum()

tract_to_msamd_income               615
population                          610
minority_population                 610
number_of_owner_occupied_units      622
number_of_1_to_4_family_units       611
loan_amount_000s                      0
hud_median_family_income            606
applicant_income_000s             62033
state_name                            0
state_abbr                            0
sequence_number                       0
respondent_id                         0
purchaser_type_name                   0
property_type_name                    0
preapproval_name                      0
owner_occupancy_name                  0
msamd_name                        38274
loan_type_name                        0
loan_purpose_name                     0
lien_status_name                      0
hoepa_status_name                     0
county_name                         367
co_applicant_sex_name                 0
co_applicant_race_name_1              0
co_applicant_ethnicity_name           0
census_tract_number                 606
as_of_year                            0
application_date_indicator            0
applicant_sex_name                    0
applicant_race_name_1                 0
applicant_ethnicity_name              0
agency_name                           0
agency_abbr                           0
action_taken_name                     0
dtype: int64

In [10]:
hdma.isnull().sum()

tract_to_msamd_income               615
population                          610
minority_population                 610
number_of_owner_occupied_units      622
number_of_1_to_4_family_units       611
loan_amount_000s                      0
hud_median_family_income            606
applicant_income_000s             62033
state_name                            0
state_abbr                            0
sequence_number                       0
respondent_id                         0
purchaser_type_name                   0
property_type_name                    0
preapproval_name                      0
owner_occupancy_name                  0
msamd_name                        38274
loan_type_name                        0
loan_purpose_name                     0
lien_status_name                      0
hoepa_status_name                     0
county_name                         367
co_applicant_sex_name                 0
co_applicant_race_name_1              0
co_applicant_ethnicity_name           0
census_tract_number                 606
as_of_year                            0
application_date_indicator            0
applicant_sex_name                    0
applicant_race_name_1                 0
applicant_ethnicity_name              0
agency_name                           0
agency_abbr                           0
action_taken_name                     0
dtype: int64

In [12]:
hdma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466566 entries, 0 to 466565
Data columns (total 34 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   tract_to_msamd_income           465951 non-null  float64
 1   population                      465956 non-null  float64
 2   minority_population             465956 non-null  float64
 3   number_of_owner_occupied_units  465944 non-null  float64
 4   number_of_1_to_4_family_units   465955 non-null  float64
 5   loan_amount_000s                466566 non-null  int64
 6   hud_median_family_income        465960 non-null  float64
 7   applicant_income_000s           404533 non-null  float64
 8   state_name                      466566 non-null  object
 9   state_abbr                      466566 non-null  object
 10  sequence_number                 466566 non-null  int64
 11  respondent_id                   466566 non-null  object
 12  purchaser_type_name             466566 non-null  object
 13  property_type_name              466566 non-null  object
 14  preapproval_name                466566 non-null  object
 15  owner_occupancy_name            466566 non-null  object
 16  msamd_name                      428292 non-null  object
 17  loan_type_name                  466566 non-null  object
 18  loan_purpose_name               466566 non-null  object
 19  lien_status_name                466566 non-null  object
 20  hoepa_status_name               466566 non-null  object
 21  county_name                     466199 non-null  object
 22  co_applicant_sex_name           466566 non-null  object
 23  co_applicant_race_name_1        466566 non-null  object
 24  co_applicant_ethnicity_name     466566 non-null  object
 25  census_tract_number             465960 non-null  float64
 26  as_of_year                      466566 non-null  int64
 27  application_date_indicator      466566 non-null  int64
 28  applicant_sex_name              466566 non-null  object
 29  applicant_race_name_1           466566 non-null  object
 30  applicant_ethnicity_name        466566 non-null  object
 31  agency_name                     466566 non-null  object
 32  agency_abbr                     466566 non-null  object
 33  action_taken_name               466566 non-null  object
dtypes: float64(8), int64(4), object(22)
memory usage: 121.0+ MB

In [43]:
# Renaming the columns name
hdma = hdma.rename(columns={"loan_amount_000s":"Loan Amount","applicant_income_000s":"Applicant Income","purchaser_type_name":"Purcharser Name",
                            "property_type_name":"Property Name","owner_occupancy_name":"Occupancy Name",
                            "msamd_name":"Msamd_Name","loan_type_name":"Loan Type",
                            "loan_purpose_name":"Loan Purpose","lien_status_name":"Lien Status",
                            "tract_to_msamd_income":"Tract msamd Income","rate_spread":"Rate Spread","population":"Population",
                            "minority_population":"Minority Population","number_of_owner_occupied_units":"Owner Occupied Units",
                           "number_of_1_to_4_family_units":"Number of 1 to 4 Family Units",
                           "hud_median_family_income":"Famity Income(Hud Median)","state_name":"State Name"})

hdma.head()

,Tract msamd Income,Population,Minority Population,Owner Occupied Units,Number of 1 to 4 Family Units,Loan Amount,Famity Income(Hud Median),Applicant Income,State Name,state_abbr,...,co_applicant_ethnicity_name,census_tract_number,as_of_year,application_date_indicator,applicant_sex_name,applicant_race_name_1,applicant_ethnicity_name,agency_name,agency_abbr,action_taken_name
0,121.690002,8381.0,23.790001,2175.0,2660.0,227,73300.0,116.0,Washington,WA,...,Not Hispanic or Latino,413.27,2016,0,Female,"Information not provided by applicant in mail,...",Not Hispanic or Latino,Consumer Financial Protection Bureau,CFPB,Loan originated
1,83.370003,4915.0,23.990000,1268.0,1777.0,240,57900.0,42.0,Washington,WA,...,No co-applicant,9208.01,2016,0,Male,White,Hispanic or Latino,Department of Housing and Urban Development,HUD,Loan originated
2,91.129997,5075.0,11.820000,1136.0,1838.0,241,73300.0,117.0,Washington,WA,...,Not Hispanic or Latino,414.00,2016,0,Male,White,Not Hispanic or Latino,Department of Housing and Urban Development,HUD,Loan originated
3,146.169998,5032.0,8.590000,1525.0,1820.0,351,73300.0,315.0,Washington,WA,...,"Information not provided by applicant in mail,...",405.10,2016,0,Male,"Information not provided by applicant in mail,...","Information not provided by applicant in mail,...",National Credit Union Administration,NCUA,Loan originated
4,162.470001,5183.0,10.500000,1705.0,2104.0,417,78100.0,114.0,Washington,WA,...,Not Hispanic or Latino,907.00,2016,0,Female,White,Not Hispanic or Latino,Federal Deposit Insurance Corporation,FDIC,Loan originated

In [44]:
hdma.isnull().sum()

Tract msamd Income                 615
Population                         610
Minority Population                610
Owner Occupied Units               622
Number of 1 to 4 Family Units      611
Loan Amount                          0
Famity Income(Hud Median)          606
Applicant Income                 62033
State Name                           0
state_abbr                           0
sequence_number                      0
respondent_id                        0
Purcharser Name                      0
Property Name                        0
preapproval_name                     0
Occupancy Name                       0
Msamd_Name                       38274
Loan Type                            0
Loan Purpose                         0
Lien Status                          0
hoepa_status_name                    0
county_name                        367
co_applicant_sex_name                0
co_applicant_race_name_1             0
co_applicant_ethnicity_name          0
census_tract_number                606
as_of_year                           0
application_date_indicator           0
applicant_sex_name                   0
applicant_race_name_1                0
applicant_ethnicity_name             0
agency_name                          0
agency_abbr                          0
action_taken_name                    0
dtype: int64

In [45]:
# Get rid of null value
hdma = hdma.drop(["Tract msamd Income","Population","census_tract_number","county_name","Msamd_Name","Applicant Income",
                  "Number of 1 to 4 Family Units","Owner Occupied Units","Population","Tract msamd Income"], axis=1)

hdma.head()

,Minority Population,Loan Amount,Famity Income(Hud Median),State Name,state_abbr,sequence_number,respondent_id,Purcharser Name,Property Name,preapproval_name,...,co_applicant_race_name_1,co_applicant_ethnicity_name,as_of_year,application_date_indicator,applicant_sex_name,applicant_race_name_1,applicant_ethnicity_name,agency_name,agency_abbr,action_taken_name
0,23.790001,227,73300.0,Washington,WA,119969,480228,Freddie Mac (FHLMC),One-to-four family dwelling (other than manufa...,Not applicable,...,"Information not provided by applicant in mail,...",Not Hispanic or Latino,2016,0,Female,"Information not provided by applicant in mail,...",Not Hispanic or Latino,Consumer Financial Protection Bureau,CFPB,Loan originated
1,23.990000,240,57900.0,Washington,WA,52605,7257500009,"Life insurance company, credit union, mortgage...",One-to-four family dwelling (other than manufa...,Not applicable,...,No co-applicant,No co-applicant,2016,0,Male,White,Hispanic or Latino,Department of Housing and Urban Development,HUD,Loan originated
2,11.820000,241,73300.0,Washington,WA,6210,72-1545376,Loan was not originated or was not sold in cal...,One-to-four family dwelling (other than manufa...,Not applicable,...,White,Not Hispanic or Latino,2016,0,Male,White,Not Hispanic or Latino,Department of Housing and Urban Development,HUD,Loan originated
3,8.590000,351,73300.0,Washington,WA,197,4878,Loan was not originated or was not sold in cal...,One-to-four family dwelling (other than manufa...,Not applicable,...,"Information not provided by applicant in mail,...","Information not provided by applicant in mail,...",2016,0,Male,"Information not provided by applicant in mail,...","Information not provided by applicant in mail,...",National Credit Union Administration,NCUA,Loan originated
4,10.500000,417,78100.0,Washington,WA,32582,32489,Freddie Mac (FHLMC),One-to-four family dwelling (other than manufa...,Not applicable,...,White,Not Hispanic or Latino,2016,0,Female,White,Not Hispanic or Latino,Federal Deposit Insurance Corporation,FDIC,Loan originated

In [46]:
hdma.isnull().sum()

Minority Population            610
Loan Amount                      0
Famity Income(Hud Median)      606
State Name                       0
state_abbr                       0
sequence_number                  0
respondent_id                    0
Purcharser Name                  0
Property Name                    0
preapproval_name                 0
Occupancy Name                   0
Loan Type                        0
Loan Purpose                     0
Lien Status                      0
hoepa_status_name                0
co_applicant_sex_name            0
co_applicant_race_name_1         0
co_applicant_ethnicity_name      0
as_of_year                       0
application_date_indicator       0
applicant_sex_name               0
applicant_race_name_1            0
applicant_ethnicity_name         0
agency_name                      0
agency_abbr                      0
action_taken_name                0
dtype: int64

In [48]:
hdma = hdma.drop(["Minority Population","Famity Income(Hud Median)"], axis=1)

In [49]:
hdma.isnull().sum()

Loan Amount                    0
State Name                     0
state_abbr                     0
sequence_number                0
respondent_id                  0
Purcharser Name                0
Property Name                  0
preapproval_name               0
Occupancy Name                 0
Loan Type                      0
Loan Purpose                   0
Lien Status                    0
hoepa_status_name              0
co_applicant_sex_name          0
co_applicant_race_name_1       0
co_applicant_ethnicity_name    0
as_of_year                     0
application_date_indicator     0
applicant_sex_name             0
applicant_race_name_1          0
applicant_ethnicity_name       0
agency_name                    0
agency_abbr                    0
action_taken_name              0
dtype: int64

In [50]:
hdma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466566 entries, 0 to 466565
Data columns (total 24 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loan Amount                  466566 non-null  int64
 1   State Name                   466566 non-null  object
 2   state_abbr                   466566 non-null  object
 3   sequence_number              466566 non-null  int64
 4   respondent_id                466566 non-null  object
 5   Purcharser Name              466566 non-null  object
 6   Property Name                466566 non-null  object
 7   preapproval_name             466566 non-null  object
 8   Occupancy Name               466566 non-null  object
 9   Loan Type                    466566 non-null  object
 10  Loan Purpose                 466566 non-null  object
 11  Lien Status                  466566 non-null  object
 12  hoepa_status_name            466566 non-null  object
 13  co_applicant_sex_name        466566 non-null  object
 14  co_applicant_race_name_1     466566 non-null  object
 15  co_applicant_ethnicity_name  466566 non-null  object
 16  as_of_year                   466566 non-null  int64
 17  application_date_indicator   466566 non-null  int64
 18  applicant_sex_name           466566 non-null  object
 19  applicant_race_name_1        466566 non-null  object
 20  applicant_ethnicity_name     466566 non-null  object
 21  agency_name                  466566 non-null  object
 22  agency_abbr                  466566 non-null  object
 23  action_taken_name            466566 non-null  object
dtypes: int64(4), object(20)
memory usage: 85.4+ MB

In [51]:
hdma.describe()

         Loan Amount  sequence_number  as_of_year  application_date_indicator
count  466566.000000     4.665660e+05    466566.0               466566.000000
mean      298.260936     1.126340e+05      2016.0                    0.207285
std       760.741532     2.020830e+05         0.0                    0.609593
min         1.000000     1.000000e+00      2016.0                    0.000000
25%       172.000000     5.121000e+03      2016.0                    0.000000
50%       248.000000     2.647200e+04      2016.0                    0.000000
75%       350.000000     1.095258e+05      2016.0                    0.000000
max     99999.000000     1.241780e+06      2016.0                    2.000000

In [52]:
hdma["action_taken_name"].unique()

array(['Loan originated', 'Application approved but not accepted',
       'Application denied by financial institution',
       'Application withdrawn by applicant',
       'File closed for incompleteness',
       'Loan purchased by the institution',
       'Preapproval request denied by financial institution',
       'Preapproval request approved but not accepted'], dtype=object)

In [58]:
# Let make action taken name into a boolean action, i.e whether the loan is  "Approved or not approved"
# using.Loc[]
hdma.loc[hdma["action_taken_name"]=="Loan originated","action_taken_name"] = "approved"

fix = hdma["action_taken_name"].unique()[1:]
for col in fix:
    hdma.loc[hdma["action_taken_name"]==col,"action_taken_name"] = "not approved"
    
hdma["action_taken_name"].unique()

array(['approved', 'not approved'], dtype=object)

# Split the dataset into two parts, Training and Testing

In [73]:
# allocate 70 - 80 % of the dataset   for Training while 20 - 30 % for Testing
cols = [col for col in hdma.columns if col!='action_taken_name']
x = hdma[cols]
y = hdma['action_taken_name']

X_train,X_test, y_train, y_test =  train_test_split(X,  y, test_size = 0.25, random_state = 0)
print('Train', X_train.shape, y_train.shape)
print('Test', X_test.shape, y_test.shape)

Train (349924, 25) (349924,)
Test (116642, 25) (116642,)

In [78]:
model = DecisionTreeClassifier()
y = hdma["action_taken_name"]
X_train,X_test, y_train, y_test =  train_test_split(X,  y, test_size = 0.25, random_state = 0)
model.fit(X_train, y_train)
predictions = model.predict(X_test)
score = f1_score(y_test, predictions)
score

ValueError: could not convert string to float: 'Washington'